body {
    font-family: 'Bubblegum Sans';
    position: relative;
}

.container-fluid {
    height: 100vh;
}

#container {
    position: relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #92AB58 60%, #6C8140 100%);
    /* Ensure the container takes full width */
}

.OscarImages {
    position: absolute;
    transition: top 0.5s, left 0.5s;
    /* Smooth transition for image movement */
    width: 150px;
    /* Adjust the width as needed */
    height: auto;
    cursor: pointer;
    /* Change cursor to pointer on hover */

    /* Maintain aspect ratio */
}

#score {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 26px;
    font-family: 'Bubblegum Sans';
    color: #FCFDFF;
    font-weight: bold;
}

#timer {
    position: fixed;
    top: 50px;
    left: 10px;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Bubblegum Sans';
    color: #FCFDFF;
}

#fail-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #383838;
    display: none;
}

.custom-button{
    color: #FCFDFF;
    background-color: #383838;
    border: 3px solid #383838;
}

.custom-button:hover{
    border: 3px solid #383838;
    color:#383838
}

#view-reward {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    display: none;
}

#restart-button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

#mute-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.fun-message {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Bubblegum Sans', cursive;
    color: #FCFDFF;
}

@media (max-width: 768px) {
    .OscarImages {
        width: 100px; /* Change width to 100px for phones */
    }
}
