body {

    height: 100vh;
    font-family: 'Bubblegum Sans', cursive;
    color: #FCFDFF;
    background: linear-gradient(to bottom, #92AB58 60%, #6C8140 100%);
}

.container {
    text-align: center;
}

h1 {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 36px;
}
p {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 18px;
}

h1, p, a {
    color: white; /* Set text color */
    text-shadow: 
        -1px -1px 0 #7C9345,  
        1px -1px 0 #7C9345,
        -1px 1px 0 #7C9345,
        1px 1px 0 #7C9345; /* Apply border-like effect */
}



/* Add styles for the cat image */
.cat-image {
    border: 6px solid #383838; /* Add a solid border with the specified color */
    border-radius: 10px; /* Add border-radius for rounded corners */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Add a subtle shadow effect */
    padding: 10px; /* Add padding for better spacing */
    margin-top: 20px; /* Add some top margin for spacing */
}
