body {
    font-family: 'Bubblegum Sans', cursive;
    color: #FCFDFF;
    background: linear-gradient(to bottom, #92AB58 60%, #6C8140 100%);
    height: auto; 
    overflow-y: auto; 
}


h2 {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 33px;
}

/* Wrapper for the cat image and "WANTED" text */
.wanted-wrapper {
    position: relative;
    display: inline-block;
}

.font-weight-underline{
    text-decoration: underline;
}

.cat{
    border: 6px solid #383838; /* Add a solid border with the specified color */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Add a subtle shadow effect */
}
/* Styles for the "WANTED" text */
.wanted-text {
    display: inline-block; /* Make the element inline-block */
    font-size: 28px;
    font-weight: bold;
    z-index: 1; /* Ensure text is on top of the image */
    background-color: #6C8140;
}

.custom-button{
    color: #FCFDFF;
    background-color: #383838;
    border: 3px solid #383838;
}

.custom-button:hover{
    border: 3px solid #383838;
    color:#383838
}