body {
    font-family: 'Bubblegum Sans', cursive;
    color: #FCFDFF;
    background: linear-gradient(to bottom, #92AB58 60%, #6C8140 100%);
    height: auto; 
    overflow-y: auto; 
}

.topModal1{
    font-size:30px;
    color:#383838
}
.text-danger {
    color: red;
    font-size: 14px;
    margin-top: 8px;
    text-align: center;
}

h2 {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 33px;
}

.font-weight-underline{
    text-decoration: underline;
}

.custom-button{
    color: #FCFDFF;
    background-color: #383838;
    border: 3px solid #383838;
}

.custom-button:hover{
    border: 3px solid #383838;
    color:#383838
}

.custom-button2{
    color: #383838;
    border: 3px solid #383838;
}

.custom-button2:hover{
    border: 3px solid #383838;
    color: #FCFDFF;
    background-color: #383838;
}